{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ target_tag.tag }}{% endblock title %}
{% block content %}

<div class="row">
    <div class="col-sm-2">
        <h2 class="text-center">{{ target_tag.tag }}</h2>
        <hr>
        <div class="text-center">{{ post_list|length }}&nbsp;{% trans "Posts" %}</div><br>
        <div class="text-center">{{ target_tag.followed_tag.all|length }}&nbsp;{% trans "Followers" %}</div><br>
        <form id="tag_form" class="text-center">
            {% csrf_token %}
            {% if target_tag in request.user.profile.tag.all %}
                <button class="tag-toggle tag-button btn btn-warning unfollow">{% trans "Unfollow tag" %}</button>
                <button class="tag-toggle tag-button btn btn-success d-none follow">{% trans "Follow tag" %}</button>
            {% else %}
                <button class="tag-toggle tag-button btn btn-success follow">{% trans "Follow tag" %}</button>
                <button class="tag-toggle tag-button btn btn-warning d-none unfollow">{% trans "Unfollow tag" %}</button>
            {% endif %}
        </form>
    </div>
    <ul class="post_list col-sm-8">
        {% for post in post_list %}
            <hr>
            <h3><strong><a class="text-body" href="{% url 'posts:detail' username=post.create_user.username pk=post.id %}">{{ post.title }}</a></strong></h3>
            <small class="text-muted">By&nbsp;<a class="text-muted" href="{% url 'accounts:detail' username=post.create_user.username %}">{{ post.create_user.username }}</a>&nbsp;|&nbsp;{{ post.create_date|date:"Y/m/d G:i" }}</small>
        {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function() {
        $('.tag-toggle').click(function(e) {
            e.preventDefault();
            const _that = $(this);
            const is_follow = _that.hasClass('unfollow');
            let form = $('#tag_form');
            form = form.serializeArray();
            form.push({name: 'is_follow', value: is_follow});
            $.ajax({
                url: '{% url 'tags:follow' tag=target_tag.tag %}',
                type: 'POST',
                data: form,
            })
            .done((data) => {
                if (data['is_follow']) {
                    $('.unfollow').removeClass('d-none');
                    $('.unfollow').show();
                    $('.follow').hide();
                } else {
                    $('.follow').removeClass('d-none');
                    $('.follow').show();
                    $('.unfollow').hide();
                }
            })
            .fail((data) => {
                console.log(data);
            })
        });
    });
</script>
{% endblock content %}