{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Stock list" %}{% endblock title %}

{% block content %}
    <div class="row">
    	<h3 class="col-sm-8 offset-sm-2 text-center">{% trans "Stock list" %}</h3>
    </div>
    <div class="row">
    	<div class="col-sm-2">
    		<h6 class="text-center">{% trans "Tag" %}</h6>
    		{% if tag_count_dict %}
    			{% for tag, count in tag_count_dict.items %}
    				<hr>
    				<a href="{% url 'tags:detail' tag=tag %}" class="small">{{ tag }}</a><span class="float-right small">{{ count }}</span>
    			{% endfor %}
    		{% endif %}
    	</div>
        {% if stock_list %}
            <ul class="post_list col-sm-8">
                {% for post in stock_list %}
                    <hr>
                    <small class="text-muted">
                            By&nbsp;<a class="text-link" href="{% url 'accounts:detail' username=post.create_user.username %}">{{ post.create_user.username }}</a>
                            |&nbsp;{{ post.create_date|date:"Y/m/d G:i" }}
                            <span class="float-right"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>&nbsp;{{ post.good.all|length }}</span><br>
                            <a href="{% url 'posts:detail' username=post.create_user.username pk=post.id %}#comment"><span class="float-right">
                            <i class="fa fa-comment fa-lg" aria-hidden="true"></i>&nbsp;{{ post.comments.all|length }}</span></a></small>
                    <h4><strong><a class="text-link" href="{% url 'posts:detail' username=post.create_user.username pk=post.id %}">{{ post.title }}</a></strong></h4>
                    <form class="stock_form">
                        {% csrf_token %}
                        <small>
                            <i class="fa fa-folder fa-lg stock-icon-close" aria-hidden="true"></i>
                            <i class="fa fa-folder-open fa-lg stock-icon-open d-none" aria-hidden="true"></i>
                        </small>
                        <input type="hidden" name="post_pk" value="{{ post.pk }}">
                    </form>
                    {% if post.tag_list %}
                        {% for tag in post.tag_list %}
                            <a href="{% url 'tags:detail' tag=tag %}" class="badge badge-secondary">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $('.stock_form').click(function(e) {
                e.preventDefault();
                const _that = $(this);
                const is_stock = _that.hasClass('stock-icon-close');
                let form = _that;
                form = form.serializeArray();
                form.push({name: 'is_stock', value: is_stock});
                $.ajax({
                    url: '{% url 'accounts:stock' %}',
                    type: 'POST',
                    data: form,
                })
                .done((data) => {
                    if (data['is_stock']) {
                        _that.find('.stock-icon-close').removeClass('d-none');
                        _that.find('.stock-icon-close').show();
                        _that.find('.stock-icon-open').hide();
                    } else {
                        _that.find('.stock-icon-open').removeClass('d-none');
                        _that.find('.stock-icon-open').show();
                        _that.find('.stock-icon-close').hide();
                    }
                })
                .fail((data) => {
                    console.log(data);
                })
            });
        });
    </script>
{% endblock content %}